@import "tailwindcss";

/* Tailwind configuration */
@theme {
  --color-primary: var(--color-sky-500);

  --font-inter: "Inter", sans-serif;
  --font-lora: "Lora", serif;
}

:root {
  @apply font-inter text-[18px] bg-black text-white antialiased;
  @apply selection:bg-yellow-400 selection:text-black;
}
