@import "tailwindcss";

/* Tailwind configuration */
@theme {
  --color-primary: var(--color-sky-500);

  --font-inter: "Inter", sans-serif;
  --font-lora: "Lora", serif;
}

:root {
  font-size: 20px;
}

@layer base {
  body {
    @apply font-inter text-[16px] xl:text-[18px] bg-black text-white antialiased;
    @apply selection:bg-primary selection:text-white;
  }
}
